
.navbar-toggler:focus, .navbar-toggler:active{
    text-decoration: none;
    color: transparent;
  }
.navbar-logo{
    max-height:90px;
    vertical-align: middle;
    margin-right: 10px;
}
.nav-link{
    color: transparent;
}
/*=======================================================      MAIN HOME PAGE STARTS     ====================================================================*/
.describeview{
    padding-top: 129px;
}
.describeview h1{
    font-size: 50px;
    background-image:linear-gradient(to right, #3cc3ec, rgb(38, 85, 172));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.gradient-text{
    background-image:linear-gradient(to right, #3cc3ec, rgb(38, 85, 172));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.describeview .loginview{
    background:linear-gradient(to top, rgb(36, 35, 35),black);
    margin-right: 0px;
    padding: 10px;
    border-radius: 30px;
}

/*======================================================== MENU CARD IN ADMIN HOME ===============================================================*/

.hod-cards{
    background: transparent !important;
  }
  .hod-cards .card-body{
    border-radius: 30px;
    cursor: pointer;
    /* border-left: 2px solid rgb(38, 85, 172); */
}
  .hod-cards .card-body:hover{
    background: #011624 !important;
  } 




/*======================================================== TABLE STARTS ===========================================================*/

  .table td{
    color: rgb(179, 177, 177)!important;
    vertical-align: middle;
  }
   
  
  /*======================================================== TABLE ENDS ===========================================================*/
.table td a{
    text-decoration: none;
    color: #b9b8b8;
    font-weight: 600;
}
.describeview p{
    text-wrap:pretty;
    padding-right: 18px;
}
.details-card .record-bg{
    color: rgb(155, 153, 152) !important;
}
.navbar .nav-text{
    background:transparent;
    border-radius: 10px;
    padding: 7px !important;
    margin-left: 10px;
    color: rgb(187, 183, 183);
    align-items: center;
}
.navbar .logout-btn{
    background-color: rgb(245, 89, 42);
    border-radius: 7px;
    padding: 7px !important;
    margin-left: 10px;
    color: white;
    align-items: center;
}
.nav-ul li:btn{
    align-items: end;
    justify-content: flex-end;
}
.navbar .logout-btn:hover{
    background-color: rgb(223, 58, 8); 
    color: rgb(255, 255, 255);
}
body{
    background-color: black!important;
    color: rgb(221, 220, 219) !important;
    font-family: 'Poppins', sans-serif !important;
}
/*================================================================   CARD  =============================================*/
.feature-cards .single-card{
    margin-top:40px !important;
    align-items: center !important;
    justify-content: center !important;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.icon-container img{
    max-width: 70px;
}
.gradient-text-icon{
    background-image:linear-gradient(to right, #3cc3ec, rgb(38, 85, 172));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold!important;
    font-size: 40px;
    text-align: center;
    font-weight: 700;

}
/*======================================================== SEARCH BAR ==================================================*/
.responsive-search-bar {
    display: flex;
    align-items: center;
    padding-right: 0;
}
.responsive-search-bar input[type="search"]:focus {
    outline: none;
}
#search{
    border-radius: 5px;
}
#search input[type="search"] {
    width: 370px;
    height: 38px;
    color: #979595;
    border: none!important;
    padding: 5px;
    border-radius: 5px;
}
.table-top{
    margin-bottom: 30px!important;
}
.table-top h1{
    font-weight: 700;

}
.search-button-container {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    height: 38px;
    width: 35px;
    border-radius: 5px;
}
.custom-select {
    position: relative;
    display: inline-block;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the right distance as needed */
    transform: translateY(-50%);
    pointer-events: none;
}
.search-button {
    width: 23px; /* Adjust width as needed */
    height: 23px; /* Adjust height as needed */
}

/*===================================================================  INPUT FIELDS  ====================================================*/
.custom-field-bg {
    background-color: #ceccce !important;
    font-size: 19px !important;
    color: #4b4949 ;
    font-weight: 300 !important;
    border-radius: 7px;
    height: 50px;
}
.custom-field-bg-login {
    background-color: #a3a3a3 !important;
    font-size: 19px !important;
    color: #979595 ;
    font-weight: 500 !important;
    border-radius: 7px;
    height: 50px;
}

.custom-label{
    font-weight: 500;
    font-size: 19px;
}
/*===================================================================  POP UP CONTAINER ====================================================*/

/* Styles for the popup container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .big-number h1{
    font-size: 138px;
    font-weight: 900;
    padding: 0;
    align-items: end;
    color: #3a3939;
  }

  /* Styles for the popup box */
  .popup-box {
    background: #fff;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .count-details h1{
    font-weight: 700;
  }
  .count-details .gradient-text{
    font-weight: 700;
  }
   .stat-container{
    padding: 15px;
    border-radius: 40px;
    max-width: 640px !important;
    cursor: pointer;
    
   }
   .stat-container:hover{
    background: #011624 !important;
    
    
   }
  .popup-close .close-btn {
    cursor: pointer;
    border: none;
    margin-left: 99%; 
    border-radius: 5px; }
    .custom-alert{
        margin-top:10px; font-weight:400;font-size:25px;
    }
    .navbar-toggler-icon {
        content: "\f00d"; /* Unicode for the "X" icon */
      }
      
      .navbar-toggler.is-open .navbar-toggler-icon {
        content: "\f0c9"; /* Unicode for the hamburger icon */
      }
@media (min-width: 1200px) {
    .nav-container {
        margin-bottom: 25px;
    }
}


@media (max-width: 767px) {
    .nav-container{
        padding: 0;
    }
    .custom-alert{
        margin-top:10px; font-weight:400;font-size:15px;
    }
    .stat-container{
        overflow-x: hidden;
        font-size: 10px !important;
        border-radius: 20px;
        
        cursor: pointer;
        padding: 5px;
        width: 162px !important;
    
    }
   
    .stat-container img,svg{
        max-width: 33px;
    }
    /* .hod-cards .card-body{
        border-left: 2px solid rgb(31, 92, 184);
    } */
    .hod-cards img,svg{
        max-height: 30px !important;
    }
    .describeview{
        padding-top: 56px;
    }
    .phoneimage{
        max-width: 50px;
    }
    .phoneimage {
        max-width: 80%vw;
    }
    .gradient-text-icon{
        font-size: 20px;
    }
    .gradient-text-icon h1{
        padding-top: 7px;
    }
    .gradient-text{
        font-size: 35px;
    }
    .table-top h1{
        font-size: 35px;
    }
    .sign-in-btn{
     width: 90%;
     margin-left: 16px;
    }

    .custom-field-bg-login {
        background-color: #bac7eb !important;
        font-size: 19px !important;
        color: #979595 ;
        font-weight: 500 !important;
        border-radius: 7px;
        height: 50px;
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .big-number h1{
        font-size: 68px;
      }
      .big-number h4{
        font-size: 18px;
      }
    .describeview h1{
        padding-top: 8px;
        font-size: 30px;
        font-weight: 600 !important;
    
    }
    .describeview .loginview h2{
        font-size: 30px !important;
        margin-left: 25px !important;
    }
    .describeview p{
        text-wrap:pretty;
        font-size: 15px;
        font-weight: 300;
       
    }
    .card-header h3{
        font-size: 12px;
    }
    .handy img{
        max-width: 80vw;
        align-items: end;
    }
    .main-menu img,svg{
        max-width: 30px !important;
    }
    .count-details{
        display: none;
    }
    .count-details h1 {
        font-size: 15px;
    }
    .count-details .gradient-text{
        font-size: 50px;
    }
    .navbar-logo{
        max-height: 50px;
        min-height: 50px;
        vertical-align: middle;
        margin-right: 10px;
        padding-left: 12px;
        padding-top: 7px;
    }
    .describeview .loginview{
        margin-top: 19px;
        margin-right: 10px;
    }
    .describeview h2{
        margin-top: 15px;
    }
    .navbar .logout-btn{
        max-width: fit-content;
    }
    .navbar .nav-item {
        font-size: 25px;
    }
    #navbarSupportedContent{
        height: 100vh !important;
    }
    #search input[type="search"] {

        color: #979595;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        
    }
    .table-top h1,.gradient-text{
        font-size: 22px;
        font-weight: 500;
    }

    #search{
        width: 100%;
    }
    .table-data{
        border-collapse: collapse;
    }
    #footersection footer {
        padding: 5px; /* Adjust the overall padding */
      }
    
      #footersection footer h6 {
        font-size: 14px; /* Reduce the size of headings */
      }
    
      #footersection footer p {
        font-size: 12px; /* Reduce the size of paragraph text */
      }
    
      #footersection footer hr {
        margin: 5px auto; /* Adjust the spacing for hr elements */
      }
    
      #footersection footer section {
        padding: 10px; /* Adjust section padding */
      }
    
      #footersection footer .text-center {
        font-size: 12px; /* Reduce font size for the 'text-center' class */
      }
    
      #footersection footer .text-white {
        font-size: 12px; /* Reduce font size for white text */
      }
    
      #footersection footer .container {
        padding: 10px; /* Adjust padding for the footer content container */
      }
    
      #footersection footer .fas {
        font-size: 12px; /* Adjust the icon size */
      }
      .hod-cards .card-body{
        border-radius: 20px;
        max-height: 90px;

      }
      .hod-cards .card-body img,svg{
        max-width: 20px !important;
      }
      .hod-cards .card-body h5{
        font-size: 15px;
      }
}