{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}
<h1>Welcome, {{ user.first_name }} {{ user.last_name }}</h1>
<br>


<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Created At</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
    
{% if records %}
	{% for record in records %}
		<tr>
			<td>{{ record.first_name }} {{ record.last_name }}</td>
			<td>{{ record.email }}</td>
			<td>{{ record.phone }}</td>
			<td>{{ record.address }}</td>
			<td>{{ record.city }}</td>
			<td>{{ record.state }}</td>
			<td>{{ record.zipcode }}</td>
			<td>{{ record.created_at }}</td>
			<td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
		</tr>
	{% endfor %}

{% endif %}

	
	  </tbody>
	</table>





{% else %}
<div class="container describeview">
  <div class="row">
      <div class="col-md-6">
          <!-- Left side - Information about your website -->
          <h2>A complete CRM solution</h2>
          <br>
          <p>a comprehensive platform that simplifies customer relationship management. Our solution empowers you to create user accounts securely and efficiently store essential data, providing a centralized hub for managing customer interactions, sales, leads, and more. With user-friendly interfaces and robust functionalities, our CRM enables seamless organization, analysis, and access to critical customer information, enhancing business relationships and driving growth</p>
      </div>
      <div class="col-md-6 loginview">
          <!-- Right side - Login form -->
          <div class="col-md-8 offset-md-2">
              <h2 class="text-dark ">Login</h2>
              <br>
              <form method="POST" action="{% url 'home' %}">
                  {% csrf_token %}
                  <div class="mb-3">
                      <input type="text" class="form-control" name="username" placeholder="Username" required>
                  </div>
                  <div class="mb-3">
                      <input type="password" class="form-control" name="password" placeholder="Password" required>
                  </div>
                  <button type="submit" class="btn btn-secondary">Login</button>
                  <br>
                  <br>
              </form>
          </div>
      </div>
  </div>
</div>



{% endif %}

{% endblock %}