{% extends 'base.html' %}
{% block content %}

<h1>Hello <span class="gradient-text">{{ user.first_name }} {{ user.last_name }}</span></h1>
<br>
<div class="card">
  <div class="card-header">
    <h2>{{ customer_record.first_name }} {{ customer_record.last_name }}</h2>
  </div>

  <div class="card-body">
    <div class="info-section">
      <strong>Email: </strong>{{ customer_record.email }}
    </div>
    <div class="info-section">
      <strong>Phone: </strong>{{ customer_record.phone }}
    </div>
    <div class="info-section">
      <strong>Address: </strong>{{ customer_record.address }}
    </div>
    <div class="info-section">
      <strong>City: </strong>{{ customer_record.city }}
    </div>
    <div class="info-section">
      <strong>State: </strong>{{ customer_record.state }}
    </div>
    <div class="info-section">
      <strong>Zipcode: </strong>{{ customer_record.zipcode }}
    </div>
    <div class="info-section">
      <strong>Created At: </strong>{{ customer_record.created_at }}
    </div>
    <div class="info-section">
      <strong>ID: </strong>{{ customer_record.id }}
    </div>
  </div>
</div>



<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-primary">Update Record</a>
		

{% endblock %}