{% extends 'hod_template/home_content.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row table-top align-items-center ">
        <div class="col-md-6 ps-lg-0 pe-lg-0 ps-md-0 ps-lg-0">
            <h1>Add a new student</span></h1>
        </div>
        <div class="col-md-6 d-flex justify-content-start justify-content-md-end  pe-lg-0 ps-md-0 ps-lg-0">
          <div id="search" class="responsive-search-bar bg-dark pl-3">
            <input type="search" class="bg-dark" placeholder="Search by student name or ID" oninput="searchNames(this.value)">
            <div class="search-button-container bg-dark" onclick="searchFunction()">
                    <img src="{% static 'assets/search.svg' %}" alt="Search button" class="search-button">
                </div>
            </div>
        </div>
    </div>

    <div class="container pe-lg-0 ps-md-0 ps-lg-0">
    <div class = "row ">
      <div class="col-md-6  ">
        {% url 'add_student_save' as action_path %}
        {% include 'hod_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Add Student" %}
    </div>
    </div>
</div>

{% endblock %}


