{% extends 'hod_template/home_content.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row table-top align-items-center ">
        <div class="col-md-6 p-0">
            <h1>Add a new department</span></h1>
        </div>
    </div>


    <div class = "row">
      <div class="col-md-6 p-0 ">

        <form role="form" action="/add_course_save" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                      <div class="form-group">
                        <input type="text" class="form-control custom-field-bg" name="course" placeholder="Enter Course name">
                      </div>
                
                    </div>
                    <br>
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-block">Add Course</button>
                    </div>
        </form>
    </div> 
</div>

{% endblock %}


