{% load static %}

<div class='container nav-container p-0'>
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: rgb(24, 24, 24);">
  <div class="container-fluid ps-lg-0 ps-md-0">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'assets/logocrm.png' %}" alt="" class="navbar-logo">
   </a>
  
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse nav-ul " id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end ">
          <li class="nav-item ">
            {% url 'add_staff' as add_staff %}
            <a class="nav-link {% if request.path == add_staff %} active {% endif %}" href="{% url 'add_staff' %}">Add staff</a>
          </li>


          <li class="nav-item">
            {% url 'add_student' as add_student %}
            <a class="nav-link {% if request.path == add_student %} active {% endif %}" href="{% url 'add_student' %}">Add student</a>
          </li> 
          
          <li class="nav-item">
            {% url 'add_course' as add_course %}
            <a class="nav-link {% if request.path == add_course %} active {% endif %}" href="{% url 'add_course' %}">Add courses</a>
          </li> 

          <li class="nav-item mb-2">
            <a class="nav-link" href="{% url 'home' %}">Register parent</a>
          </li>     


          <li class="nav-item p-0 ">
            <a class="nav-link logout-btn m-0" href="{% url 'logout_user' %}">Logout</a>
          </li>  

      </ul>     
    </div>
  </div>
</nav>
</div>