{% extends 'hod_template/base_template.html' %}
{% block content %}
{% load static %}

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-dark">
                Are you sure you want to delete this department?
            </div>
            <div class="modal-footer">
                <button style="width: 150px" type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Cancel</button>
                <form method="post" action="{% url 'delete_department' course_id=course.id %}">
                    {% csrf_token %}
                    <button style="width: 150px" type="submit" class="btn btn-danger btn-lg m-auto">
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
    <!-- Main content -->
    <div class="container">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-12">
                    <div class="card card-primary text-light mb-2" style="background: transparent !important;">
                        <div class="card-header p-0">
                            <h6 class="card-title">Admin / Edit department / {{ course.course_name }} / ID: {{ course.id }}</h6>
                        </div>
                        {% url 'edit_department_save' as action_path %}
                        {% include 'hod_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Edit department" %}

                        <!-- Display Profile Picture -->
                        <div class="row">
                            <div class="col-12 mt-2">
                                <button style="width:150px" type="button" class="btn btn-danger btn-lg m-auto" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                </button>
                            </div>
                        </div>

                        <!-- Delete department Form -->
                       
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- /.content -->
{% endblock %}
