{% extends 'hod_template/home_content.html' %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row table-top align-items-center mb-5 mt-2">
      <div class="col-md-6 mb-2 p-xs-0 ps-md-0 ps-lg-0" >
          <h1><i class="fa fa-user p-2" aria-hidden="true"></i> Administrator</h1>

      </div >
      <div class="col-md-6 d-flex justify-content-start justify-content-md-end p-xs-0 ps-md-0 pe-lg-0">
        <div id="search" class="responsive-search-bar bg-dark pl-3">
          <input type="search" class="bg-dark ps-2" placeholder="Search by department name" oninput="searchNamesdpt(this.value)">
          <div class="search-button-container bg-dark" onclick="searchFunction()">
                  <img src="{% static 'assets/search.svg' %}" alt="Search button" class="search-button">
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container p-lg-0 p-md-0 table-content">
      <div class="container-fluid p-lg-0 p-md-0">
          <div class="row">
          <div class="col-12 p-0">
            <h6 class="mb-3">Admin / manage departments</h6>
            <div class="card bg-dark">
              <div class="card-body table-responsive p-0">
                <table class="table table-dark table-striped text-nowrap">
                  <thead class="text-white">
                    <tr>
                      <th>ID</th>
                      <th>department name</th>
                      <th>Staff name</th>
                      <th>Created at</th>
                      <th>Updated at</th>
                    {% comment %}
                      <th>Email</th>
                      <th>Address</th>
                      <th>Last Login</th>
                      <th>Date Joined</th> {% endcomment %}
                    </tr>
                  </thead>
                  <tbody>
                  {% for course in courses %}
                    <tr>                    
                      <td>{{ course.id }}</td>
                      <td class="dpt-name"><a href="{% url 'edit_course_template' course_id=course.id %}">{{ course.course_name }}</a></td>
                      <td> ayisha </td>
                      <td>{{ course.created_at }}</td>
                      <td>{{ course.updated_at }}</td>
                      {% comment %} <td>{{ staff.admin.email }}</td>
                      <td>{{ staff.address }}</td>
                      <td>{{ staff.admin.last_login }}</td>
                      <td>{{ staff.admin.date_joined }}</td> {% endcomment %}
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock  %}

