{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container describeview mb-md-5" >
  <div class="row">

     <!-- ================================================================  SHOWING MESSAGES   ======================================================================== -->
   
     {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                  <div class="alert custom-alert alert-danger mb-3 mt-5" >{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                 <div class="alert custom-alert alert-success mb-3 mt-5" >{{ message }}</div>
                {% endif %}
                {% endfor %}
      {% endif %}
      <!-- ================================================================  MAIN DESCRIPTION SECTION  ======================================================================== -->

      <div class="col-md-6 order-lg-1 order-2">
          <h1 style="font-size: 3em;font-weight:800">A complete DB solution <i class="fa fa-bolt" aria-hidden="true"></i></h1>
          <br>
          <p>a comprehensive platform that simplifies student records and management. Our solution empowers you to create administrative accounts securely and efficiently store essential data, providing a centralized hub for managing students details, marks, perfomance details and more. With user-friendly interfaces and robust functionalities, our SRM enables seamless organization, analysis, and access to critical student informations</p>
      </div>

      <!-- ==================================================================  LOGIN FORM  ======================================================================== -->

      <div class="col-md-6 loginview order-lg-2 order-1" id="loginuser">
          <div class="col-md-8  offset-md-2 ">
            <h2 class="mb-md-3 " style="font-size: 3em;">Sign in</h2>
              <form action="/doLogin/" method="post" class="p-2">
                {% csrf_token %}
                  <div class=" mb-3 mt-2">
                    <input type="email" class="form-control custom-field-bg-login" placeholder= "&#x2709;  Email" name="email" required >
                  </div>
                  <div class="mb-3">
                    <input type="password" class="form-control custom-field-bg-login" placeholder="&#x1F512; Password" name="password" required >
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary btn-block sign-in-btn mb-3">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </div>
                  </div>
            </form>
          
          </div>
      </div>
     

  </div>
</div>

<!-- ==================================================================  4 CARDS WITH HEADINGS  ======================================================================== -->

<div class="container ">
    <div class= "row feature-cards mb-5">
        <div class ="col-md-3 mb-3 col-6 single-card">
          <div class="icon-container">
            <img class="opacity-50" src={% static "assets/teacher_portal.svg" %} alt="Icon">
          </div>
          <h1 class="gradient-text-icon">Teacher portal </h1>
        </div>

        <div class ="col-md-3 mb-3 col-6 single-card ">
            <div class="icon-container">
              <!-- Using an <img> tag for the icon -->
              <img class="opacity-50" src={% static "assets/parent_portal.svg" %} alt="Icon">
          </div>
          <h1 class="gradient-text-icon">Parent portal</h1>
        </div>

        <div class ="col-md-3 mb-3 col-6 single-card">
            <div class="icon-container">
              <!-- Using an <img> tag for the icon -->
              <img class="opacity-50" src={% static "assets/progress_icon.svg" %} alt="Icon">
          </div>
          <h1 class="gradient-text-icon">Progress analysis</h1>
        </div>

        <div class ="col-md-3 mb-3 col-6 single-card">
            <div class="icon-container">
              <!-- Using an <img> tag for the icon -->
              <img class="opacity-50" src={% static "assets/ai_icon.svg" %} alt="Icon">
          </div>
          <h1 class="gradient-text-icon">AI enabled predictions</h1>
        </div>
    </div>
</div>

<!-- ==================================================================  3 BENEFITS WITH HEADINGS  ======================================================================== -->

<div class="container ">
  <div class="row">
      <div class="col-md-6 col-lg-6 col-12 ">

        <div class="row mb-3">
          <div class="col-2 big-number">
            <h1><i class="fa fa-mobile" aria-hidden="true"></i></h1>
          </div>
          <div class="col-6 d-flex align-items-center big-number">
            <h4>Its handy ! so easy to use with mobiles</h4>
          </div>
        </div>
         
        <div class="row mb-3">
          <div class="col-2 big-number">
            <h1 class="p-0 m-0"><i class="fa fa-inr" aria-hidden="true"></i></h1>
          </div>
          <div class="col-6 d-flex align-items-center big-number">
            <h4>Cost-Effective Development!
            </h4>
          </div>
        </div>

        <div class="row">
          <div class="col-2 big-number ">
            <h1><i class="fa fa-share-square-o" aria-hidden="true"></i> </h1>
          </div>
          <div class="col-6 d-flex align-items-center big-number">
            <h4>Social Media Friendliness !</h4>
          </div>
        </div>


      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-12 phoneimage">
        <img src="{% static 'assets/phone.png' %}" alt="Description of the image" class="img-fluid">
      </div>
  </div>
</div>

<!-- ==================================================================  FOOTER SECTION  ======================================================================== -->

<div class="container my-5 p-0 " id="footersection">

  <!-- Footer -->
  <footer
          class="text-center footer text-lg-start text-white p-0"
          style="background: linear-gradient(to top, black, rgb(36, 35, 35));
                 border-radius:30px;">

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-lg-2 p-md-2 mt-0">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Institution database management </h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              A database of structured collection of data that efficiently organizes and manages
               information related to students, faculty, courses, and administrative processes within an educational institution
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Tech stack</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Django</a>
            </p>
            <p>
              <a href="#!" class="text-white">Python v3.8</a>
            </p>
            <p>
              <a href="#!" class="text-white">MySQL</a>
            </p>
            
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Social links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Github</a>
            </p>
            <p>
              <a href="#!" class="text-white">Email</a>
            </p>
            <p>
              <a href="#!" class="text-white">Instagram</a>
            </p>
            <p>
              <a href="#!" class="text-white">Facebook</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
                <p>Laizin V</p>

            <p>khalidiyyah, abudhabi - UAE</p>
            <p>laizin2107@gmail.com.com</p>
            <p>+ 971 503349730</p>
            <p>+ 91 8113937942</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a class="text-white" href=""
         >edudb.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
{% endblock %}