{% extends 'base.html' %}

{% block content %}
{% load static %}


<div class="container describeview" >
  <div class="row">
    {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'error' %}
                  <div class="alert alert-danger mb-5" style="margin-top:10px; font-weight:500;font-size:25px;">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                 <div class="alert alert-success mb-5" style="margin-top:10px; font-weight:500;font-size:25px;">{{ message }}</div>
                {% endif %}
                {% endfor %}
              {% endif %}
      <div class="col-md-6 order-lg-1 order-2">
          <!-- Left side - Information about your website -->
          <h1>A complete student management solution</h1>
          <br>
          <p>a comprehensive platform that simplifies student records and management. Our solution empowers you to create administrative accounts securely and efficiently store essential data, providing a centralized hub for managing students details, marks, perfomance details and more. With user-friendly interfaces and robust functionalities, our SRM enables seamless organization, analysis, and access to critical student informations</p>
      </div>

      <div class="col-md-6 loginview order-lg-2 order-1" id="loginuser">
          <!-- Right side - Login form -->

          <div class="col-md-8  offset-md-2 ">
            <h2 class="mb-md-5 " style="font-size: 39px; padding:2px; margin-top:-45px; background-color: rgb(24, 24, 24);max-width:fit-content;"> login</h2>

              <form action="/doLogin/" method="post" >
                {% csrf_token %}
              <div class=" mb-3">
                <input type="email" class="form-control custom-field-bg" placeholder="Email" name="email" required >
              </div>
              <div class="mb-3">
                <input type="password" class="form-control custom-field-bg" placeholder="Password" name="password" required >
              </div>
              <div class="row">
                <!-- /.col -->
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </div><!-- /.col -->
              </div>
                
            </form>
          </div>
      </div>
  </div>
</div>

<div class="container">
    <div class= "row feature-cards">
        <div class ="col-md-3 mb-3 col-6 single-card">
          <div class="icon-container">
            <img src={% static "assets/teacher_portal.svg" %} alt="Icon">
          </div>
          <h1 class="gradient-text-icon">Teacher portal </h1>
        </div>

        <div class ="col-md-3 mb-3 col-6 single-card ">
            <div class="icon-container">
              <!-- Using an <img> tag for the icon -->
              <img src={% static "assets/parent_portal.svg" %} alt="Icon">
          </div>
          <h1 class="gradient-text-icon">Parent portal</h1>
        </div>

        <div class ="col-md-3 mb-3 col-6 single-card">
            <div class="icon-container">
              <!-- Using an <img> tag for the icon -->
              <img src={% static "assets/progress_icon.svg" %} alt="Icon">
          </div>
          <h1 class="gradient-text-icon">Progress analysis</h1>
        </div>

        <div class ="col-md-3 mb-3 col-6 single-card">
            <div class="icon-container">
              <!-- Using an <img> tag for the icon -->
              <img src={% static "assets/ai_icon.svg" %} alt="Icon">
          </div>
          <h1 class="gradient-text-icon">AI enabled predictions</h1>
        </div>
    </div>
</div>


<br>



<div class="container my-5 p-0 " id="footersection">

  <!-- Footer -->
  <footer
          class="text-center footer text-lg-start text-white p-0"
          style="border: 2px solid green;
                 border-radius:20px;">

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-lg-2 p-md-2 mt-0">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Company name</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">MDBootstrap</a>
            </p>
            <p>
              <a href="#!" class="text-white">MDWordPress</a>
            </p>
            <p>
              <a href="#!" class="text-white">BrandFlow</a>
            </p>
            <p>
              <a href="#!" class="text-white">Bootstrap Angular</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Your Account</a>
            </p>
            <p>
              <a href="#!" class="text-white">Become an Affiliate</a>
            </p>
            <p>
              <a href="#!" class="text-white">Shipping Rates</a>
            </p>
            <p>
              <a href="#!" class="text-white">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
         >studentdatamanager.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
{% endblock %}