{% load static %}

<div class='container nav-container'>
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: rgb(24, 24, 24);">
  <div class="container-fluid p-0">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'assets/logocrm.png' %}" alt="" class="navbar-logo">
   </a>
  
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse nav-ul" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
        
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link nav-text" href="{% url 'home' %}">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-text" href="{% url 'home' %}">register student </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-text" href="{% url 'home' %}">register parent</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-text" href="{% url 'home' %}">regist staff</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link logout-btn" href="{% url 'logout_user' %}">Logout</a>
                </li>   
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
              <li class="nav-item">
                <a class="nav-link nav-text" href="{% url 'home' %}">Enroll student  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-text" href="{% url 'home' %}">update student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link logout-btn" href="{% url 'home' %}">Logout</a>
              </li>
              {% endif %}
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">How to register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Blogspot</a>
          </li>        
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="home.html#footersection">About us</a>
          </li>         {% endcomment %}
        {% endif %}

      </ul>     
    </div>
  </div>
</nav>
</div>