.navbar-toggler:focus, .navbar-toggler:active{
    text-decoration: none;
  }
.navbar-logo{
    max-height:70px;
    vertical-align: middle;
    margin-right: 10px;
}
.describeview h1{
    font-weight: 800!important;
    font-size: 40px;
    background-image: linear-gradient(to right,green, rgb(91, 160, 91));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.gradient-text{
    background-image: linear-gradient(to right,green, rgb(91, 160, 91));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}
/*======================================================== CARD ===============================================================*/
.card {
    background-color: rgb(175, 69, 17) !important;
    color: #3a3939;
    border: none !important;
    border-style:none !important;

  } 
  .card-header {
    background-color: #333232;
    padding: 15px;
  }
  .card-header h2 {
    margin: 0;
  }
  .card-body {
    padding: 20px;
    background-color: #2b2929;
    color: #cecace !important;
  } 
  .info-section {
    margin-bottom: 10px;
  }
  strong {
    font-weight: bold;
  }
/*======================================================== CARD ENDS ===========================================================*/
.describeview{
    padding-top: 116px;
}
.describeview .loginview{
    border: 2px solid green;
    margin-right: 0px;
    padding: 10px;
    border-radius: 20px;
}

/*======================================================== TABLE STARTS ===========================================================*/

  .table td{
    color: rgb(179, 177, 177)!important;
    vertical-align: middle;
  }
   
  
  /*======================================================== TABLE ENDS ===========================================================*/
.table td a{
    text-decoration: none;
    color: #b9b8b8;
    font-weight: 600;
}
.describeview p{
    text-wrap:pretty;
    padding-right: 18px;
}
.describeview h2{
    color: rgb(201, 198, 194);
}
.details-card .record-bg{
    color: rgb(155, 153, 152) !important;
}
.navbar .nav-text{
    background:transparent;
    border-radius: 10px;
    padding: 7px !important;
    margin-left: 10px;
    color: rgb(187, 183, 183);
    align-items: center;
}
.navbar .logout-btn{
    background-color: rgb(245, 89, 42);
    border-radius: 7px;
    padding: 7px !important;
    margin-left: 10px;
    color: white;
    align-items: center;
}
.nav-ul li:btn{
    align-items: end;
    justify-content: flex-end;
}
.navbar .logout-btn:hover{
    background-color: rgb(223, 58, 8); 
    color: rgb(255, 255, 255);
}
body{
    background-color: black!important;
    color: rgb(221, 220, 219) !important;
    font-family: 'Poppins', sans-serif !important;
}
/*================================================================   CARD  =============================================*/
.feature-cards .single-card{
    margin-top:40px !important;
    align-items: center !important;
    justify-content: center !important;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.icon-container img{
    max-width: 70px;
}
.gradient-text-icon{
    background-image: linear-gradient(to right,green, rgb(91, 160, 91));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold!important;
    font-size: 30px;
    text-align: center;

}
.login-btn{
    display: none;
}
/*======================================================== SEARCH BAR ==================================================*/
.responsive-search-bar {
    display: flex;
    align-items: center;
    padding-right: 0;
}
.responsive-search-bar input[type="search"]:focus {
    outline: none;
}
#search{
    border-radius: 5px;
}
#search input[type="search"] {
    width: 370px;
    height: 38px;
    color: #979595;
    border: none!important;
    padding: 5px;
    border-radius: 5px;
}
.table-top{
    margin-bottom: 30px!important;
}
.table-top h1{
    color: #979595!important;
}
.search-button-container {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    height: 38px;
    width: 35px;
    border-radius: 5px;
}
.custom-select {
    position: relative;
    display: inline-block;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust the right distance as needed */
    transform: translateY(-50%);
    pointer-events: none;
}
.search-button {
    width: 23px; /* Adjust width as needed */
    height: 23px; /* Adjust height as needed */
}

/*=======================================================================================================================*/
.custom-field-bg {
    border: none !important;
    background-color: #ceccce !important;
    font-size: 19px !important;
    color: #979595 ;
    font-weight: 600 !important;
    border-radius: 7px;
    height: 50px;
}

.custom-label{
    font-weight: 500;
    font-size: 19px;
}
.describeview .btn{
    border:none;
    background-color: rgb(35, 83, 45);
}
.describeview .btn:hover{
    background-color: rgb(33, 119, 50);
}
/* Styles for the popup container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
  }
  .big-number h1{
    font-size: 138px;
    font-weight: 900;
    padding: 0;
    align-items: end;
    color: #3a3939;
  }
  .hod-cards{
    background: transparent !important;
  }
  .hod-cards .card-body{
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid transparent;

  }
  .hod-cards .card-body:hover{
    background-color: #3a3939 !important;  
  }
  
  /* Styles for the popup box */
  .popup-box {
    background: #fff;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
 
  /* Close button style */
  .popup-close .close-btn {
    cursor: pointer;
    border: none;
    margin-left: 95%; 
    border-radius: 5px; }
   
@media (min-width: 1200px) {
    .nav-container {
        margin-bottom: 25px;
    }
}


@media (max-width: 767px) {
    .nav-container{
        padding: 0;
    }
    .describeview{
        padding-top: 56px;
    }
    .phoneimage{
        max-width: 50px;
    }
    .gradient-text-icon{
        font-size: 20px;
    }
    .gradient-text-icon h1{
        padding-top: 7px;
    }
    .gradient-text{
        font-size: 35px;
    }
    .table-top h1{
        font-size: 35px;
    }

    .big-number h1{
        font-size: 68px;
      }
      .big-number h4{
        font-size: 18px;
      }
    .describeview h1{
        padding-top: 8px;
        font-size: 30px;
        font-weight: 600 !important;
    
    }
    .describeview .loginview h2{
        display: none;
    }
    .describeview p{
        text-wrap:pretty;
        font-size: 15px;
       
    }
    .card-header h3{
        font-size: 15px;
    }
    .handy img{
        max-width: 80vw;
        align-items: end;
    }
    .login-btn{
        background: rgb(14, 94, 214);
        color: #fff;
        display: inline-block;
        border-radius: 3px;
        border-style: none;
        height: 28px;
        font-size: 15px;
    }
    .main-menu img,svg{
        max-width: 30px !important;
    }
    .count-details h1 {
        font-size: 11px;
    }
    .count-details .gradient-text{
        font-size: 15px;
    }
    .navbar-logo{
        max-height: 30px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .describeview .loginview{
        margin-right: 10px;
    }
    .describeview h2{
        margin-top: 15px;
    }
    .navbar .logout-btn{
        max-width: fit-content;
    }
    .navbar .nav-item {
        font-size: 25px;
    }
    #navbarSupportedContent{
        height: 100vh !important;
    }
    #search input[type="search"] {

        color: #979595;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        
    }
    .table-top h1,.gradient-text{
        font-size: 22px;
        font-weight: 500;
    }

    #search{
        width: 100%;
    }
    .table-data{
        border-collapse: collapse;
    }
    #footersection footer {
        padding: 5px; /* Adjust the overall padding */
      }
    
      #footersection footer h6 {
        font-size: 14px; /* Reduce the size of headings */
      }
    
      #footersection footer p {
        font-size: 12px; /* Reduce the size of paragraph text */
      }
    
      #footersection footer hr {
        margin: 5px auto; /* Adjust the spacing for hr elements */
      }
    
      #footersection footer section {
        padding: 10px; /* Adjust section padding */
      }
    
      #footersection footer .text-center {
        font-size: 12px; /* Reduce font size for the 'text-center' class */
      }
    
      #footersection footer .text-white {
        font-size: 12px; /* Reduce font size for white text */
      }
    
      #footersection footer .container {
        padding: 10px; /* Adjust padding for the footer content container */
      }
    
      #footersection footer .fas {
        font-size: 12px; /* Adjust the icon size */
      }
    
}