.navbar-toggler:focus, .navbar-toggler:active{
    text-decoration: none;
  }
.navbar-logo{
    max-height: 60px;
    vertical-align: middle;
    margin-right: 10px;
}
.describeview h1{
    font-weight: 700;
    font-size: 40px;
    background-image: linear-gradient(to right, rgb(2, 212, 149), #047747);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.gradient-text{
    background-image: linear-gradient(to right, rgb(2, 212, 149), #047747);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/*======================================================== CARD ===============================================================*/
.card {
    background-color: rgb(175, 69, 17) !important;
    color: #3a3939;
    border: none !important;
    border-style:none !important;

  } 
  .card-header {
    background-color: #333232;
    padding: 15px;
  }
  .card-header h2 {
    margin: 0;
  }
  .card-body {
    padding: 20px;
    background-color: #2b2929;
    color: #cecace !important;
  } 
  .info-section {
    margin-bottom: 10px;
  }
  strong {
    font-weight: bold;
  }
/*======================================================== CARD ENDS ===========================================================*/
.describeview .loginview{
    background: linear-gradient(to right, rgb(10, 17, 16),rgb(18, 41, 41));
    margin-right: 0px;
    border-radius: 10px;
    padding: 10px;
}
.table-data tr:nth-child(even) td {
    background-color: #292727 !important;
    font-size: small;
  }
  .table-data tr:nth-child(odd) td {
    background-color:black !important;
    font-size: small;
  }
.describeview p{
    text-wrap:pretty;
    padding-right: 18px;
}
.describeview h2{
    color: rgb(201, 198, 194);
}
.details-card .record-bg{
    color: rgb(155, 153, 152) !important;
}
.navbar .nav-text{
    background:transparent;
    border-radius: 10px;
    padding: 7px !important;
    margin-left: 10px;
    color: rgb(187, 183, 183);
    align-items: center;
}
.navbar .logout-btn{
    background-color: rgb(245, 89, 42);
    border-radius: 7px;
    padding: 7px !important;
    margin-left: 10px;
    color: white;
    align-items: center;
}
.nav-ul li:btn{
    align-items: end;
    justify-content: flex-end;
}
.navbar .logout-btn:hover{
    background-color: rgb(223, 58, 8); 
    color: rgb(255, 255, 255);
}
.table-data{
    color: #cecace !important;
    background-color:rgb(43, 42, 42) !important;

}
.table-data td a,.table-data td a:link{
    text-decoration: none !important;
    color: #cecace !important;
}
.table-data td a:hover{
    color: rgb(252, 250, 250) !important;
}
.table-data td,tr{
    background-color:rgb(66, 63, 63) !important;
    border: none !important;
}
body{
    background-color: rgb(24, 24, 24) !important;
    color: rgb(221, 220, 219) !important;
}
/*================================================================   CARD  =============================================*/
.feature-cards .single-card{
    margin-top:40px !important;
    align-items: center !important;
    justify-content: center !important;
}
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.icon-container img{
    max-width: 70px;
}
.gradient-text-icon{
    background-image: linear-gradient(to right, rgb(2, 212, 149), #047747);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold!important;
    font-size: 30px;
    text-align: center;

}
/*======================================================== SEARCH BAR ==================================================*/
.responsive-search-bar {
    display: flex;
    align-items: center;
    padding-right: 0;
}
.responsive-search-bar input[type="search"]:focus {
    outline: none;
}
#search{
    border-radius: 5px;
}
#search input[type="search"] {
    width: 370px;
    height: 38px;
    color: #979595;
    border: none!important;
    padding: 5px;
    border-radius: 5px;
}
.table-top{
    margin-bottom: 30px!important;
}
.search-button-container {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    height: 38px;
    width: 35px;
    border-radius: 5px;
}

.search-button {
    width: 23px; /* Adjust width as needed */
    height: 23px; /* Adjust height as needed */
}

/*=======================================================================================================================*/
.custom-field-bg {
    border: none !important;
    background-color: #ceccce !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    color: #979595;
    border-radius: 7px;
    
}
.custom-label{
    font-weight: 500;
    font-size: 19px;
}
.describeview .btn{
    border:none;
    background-color: rgb(35, 83, 45);
}
.describeview .btn:hover{
    background-color: rgb(33, 119, 50);
}


@media (min-width: 1200px) {
    .nav-container {
        margin-bottom: 25px;
    }
}


@media (max-width: 767px) {
    .nav-container{
        padding: 0;
    }
    .gradient-text-icon{
        font-size: 20px;
    }
    .gradient-text-icon h1{
        padding-top: 7px;
    }
    .gradient-text{
        font-size: 35px;
    }
    .table-top h1{
        font-size: 35px;
    }
    .describeview h1{
        padding-top: 8px;
        font-size: 40px;
    }
    .navbar-logo{
        max-height: 30px;
        vertical-align: middle;
        margin-right: 10px;
    }
    .describeview .loginview{
        margin-right: 10px;
    }
    .describeview h2{
        margin-top: 15px;
    }
    .navbar .logout-btn{
        max-width: fit-content;
    }
    #search input[type="search"] {

        color: #979595;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        
    }
    .table-data{
        border-collapse: collapse;
    }
    #footersection footer {
        padding: 5px; /* Adjust the overall padding */
      }
    
      #footersection footer h6 {
        font-size: 14px; /* Reduce the size of headings */
      }
    
      #footersection footer p {
        font-size: 12px; /* Reduce the size of paragraph text */
      }
    
      #footersection footer hr {
        margin: 5px auto; /* Adjust the spacing for hr elements */
      }
    
      #footersection footer section {
        padding: 10px; /* Adjust section padding */
      }
    
      #footersection footer .text-center {
        font-size: 12px; /* Reduce font size for the 'text-center' class */
      }
    
      #footersection footer .text-white {
        font-size: 12px; /* Reduce font size for white text */
      }
    
      #footersection footer .container {
        padding: 10px; /* Adjust padding for the footer content container */
      }
    
      #footersection footer .fas {
        font-size: 12px; /* Adjust the icon size */
      }
    
}